<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
        <button type="submit" class="btn btn-primary"><a href="/createPost">Create New Blog Post</a></button>
      </div>
  </div>

  {{#if posts.length}}
  <div class="col-md-6">
    <h3>Created Posts:</h3>

    {{#each posts as |posts|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/post/{{posts.id}}">{{posts.title}}</a></h4>
      </div>
    </div>
  {{/each}}
  </div>
  {{/if}}
</div>

