<!-- Loop over each object in the post array -->
<div class="container">
  <div class="row row-cols-3 gx-5">
{{#each post as |post| }}
<div class="col">
<div class="p-2 m-3 card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">By {{post.user.name}} on {{format_date post.date_created}}</h6>
    <a href="/post/{{post.id}}" class="card-link">View Post</a>
  </div>
</div>
</div>
{{/each}}
 </div>
</div>


